<div class="main-wrapper">
  <div class="header">
    <h2>Register</h2>
  </div>
  <form
    nz-form
    [formGroup]="registrationFormGroup"
    class="register-form"
    (ngSubmit)="register()"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="text"
            nz-input
            formControlName="username"
            placeholder="Username"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            formControlName="password"
            placeholder="Password"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            formControlName="password"
            placeholder="Password"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button
      nz-button
      class="register-form-button login-form-margin"
      [nzType]="'primary'"
    >
      Register
    </button>

    <a class="register-form-forgot" (click)="navigateToLogin()"
      >Click here to login</a
    >
  </form>
</div>
