<div class="header-container">
  <app-header></app-header>
  <app-nav-bar></app-nav-bar>
</div>
<div class="main-content">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto similique,
  corrupti unde dolorem quidem cumque aspernatur impedit error, quod excepturi,
  laborum quisquam veniam quibusdam iure consequatur delectus asperiores! Minima
  ipsa quibusdam consequuntur ut odio minus quae mollitia. Exercitationem, saepe
  recusandae delectus pariatur non fuga illo, quasi veniam aut ad, quod porro.
  Fugiat omnis enim ab magni itaque molestiae dolores ut sit a, nobis sint vero
  veniam inventore, atque saepe officiis minus, ratione nemo in odio voluptate.
  Incidunt debitis rerum animi porro excepturi voluptatem, inventore ad eius,
  est labore quae voluptate itaque perferendis temporibus ratione ut quam beatae
  quasi quibusdam molestiae?
</div>
<div class="footer-container">
  <app-footer></app-footer>
</div>
