<div class="main-container">
  <div class="header-container">
    <app-header></app-header>
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="main-content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus placeat
    fugiat perspiciatis modi cupiditate ipsa ad voluptas optio incidunt iusto
    dignissimos eligendi enim rem laborum corporis consequatur similique
    consectetur doloribus, veritatis eius illo totam dolorum necessitatibus qui.
    Aliquam rerum vitae praesentium explicabo sit autem, cumque architecto in
    perspiciatis recusandae facilis quia id. Natus corrupti, recusandae rerum
    laboriosam laudantium incidunt. Quis blanditiis, quisquam dicta facilis
    corporis nemo iure aspernatur nesciunt, optio enim odio tenetur doloribus
    culpa in esse, quia illo est velit tempora. Quas iusto ea, doloribus eius,
    totam, ipsam aspernatur repudiandae exercitationem beatae quos voluptatem
    labore. Quasi dolorem nemo minima dolorum nobis molestias rem similique.
    Dolorem nostrum voluptas deleniti architecto maxime doloribus officia ipsam,
    veniam id. Dolores eveniet, labore aperiam id rerum consequatur. Libero
    tempora vero modi temporibus nisi unde accusamus quam quia vitae iusto
    voluptatem at dolor adipisci a ex, dolorem, sunt neque provident qui vel
    explicabo alias minima! Incidunt voluptate in unde repellat, officiis
    perferendis dolores voluptates cum maxime autem praesentium dignissimos
    alias rem dolor veritatis aspernatur atque. Dicta est ab sed praesentium,
    distinctio libero recusandae beatae consequatur quisquam ratione animi nihil
    aut odit quos, officiis minima unde illum eum dolorum. Repellendus adipisci
    cumque placeat magni vero perferendis itaque explicabo alias quos
    consequuntur fugit perspiciatis recusandae repudiandae fuga incidunt, natus
    iure. Quasi aliquam molestias, delectus placeat laborum ea impedit nostrum
    molestiae reiciendis a maiores? Praesentium doloribus minima quidem sunt rem
    cupiditate, vel ea ullam ipsam ipsum officia magni, dolore consequuntur aut
    fugiat quae? Perferendis autem illum, at aut vero amet quidem eligendi dicta
    nesciunt in laboriosam. Ipsum voluptatem a molestiae quo non quis ipsa est
    veniam. Nam iusto odit soluta mollitia quidem vitae ea qui aliquam dicta.
    Ipsa molestiae architecto illum cum culpa maiores veniam, accusantium, porro
    sunt, quos quis odit suscipit sint similique animi quas. Expedita delectus
    voluptate sint fuga cumque eos fugiat, explicabo ratione recusandae veniam
    in quibusdam ad corrupti nihil enim consequatur quisquam ab eaque aut beatae
    alias repellat! Eveniet eius vel totam adipisci commodi repudiandae
    voluptatem mollitia, assumenda deleniti. Ad eos hic harum, perferendis ab
    magni itaque error maiores, alias magnam soluta dolorum quia exercitationem
    in quae pariatur, animi mollitia esse saepe veniam recusandae dicta quas.
    Quas voluptatum nam ea iste odio exercitationem, natus facilis rerum
    adipisci quisquam. Delectus dolores hic sapiente laborum provident amet eos
    ea inventore vitae nam, expedita alias earum eligendi magnam aut? Possimus
    voluptas numquam eius nesciunt neque sed, iste quam ipsam, eligendi
    similique quis! Inventore dolorem aspernatur, iste possimus distinctio
    voluptate unde expedita, animi quas ipsam facere odio sunt? Autem voluptas
    quam deserunt suscipit quae dolore natus aperiam quo laudantium, aut
    praesentium esse consectetur explicabo mollitia labore recusandae veritatis
    velit sit reprehenderit nesciunt! Beatae delectus aliquid cumque eveniet
    nemo laboriosam itaque consequatur quasi sapiente, esse voluptatum ab
    doloribus deleniti fugiat tenetur deserunt. Porro reprehenderit velit atque
    eos vitae ab quaerat, minus dolorem similique rem, labore cum a recusandae
    fugiat cumque provident quia natus ad quidem voluptatum maiores. Nihil
    labore beatae temporibus fuga dolor eum officiis saepe maiores repellat
    molestias!
  </div>
  <div class="footer-container">
    <app-footer></app-footer>
  </div>
</div>
