.main-container {
  height: 100vh;
  width: 100%;
  min-width: 35rem;
  display: flex;
  flex-direction: column;
  margin: 3rem 5rem;

  .header {
    margin: 4rem 0;
  }

  button {
    margin: 0 !important;
  }
}

@media screen and (max-width: 1024px) {
  .main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

    .content {
      max-width: 360px;
    }
  }
}
