<nz-header>
  <div class="mobile-menu block lg:hidden">
    <img
      class="menu-logo"
      src="/assets/icons/bars-solid.svg"
      alt="menu-logo"
      nz-dropdown
      [nzDropdownMenu]="menu"
    />
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li
          nz-menu-item
          *ngIf="!(userInformation$ | async)"
          (click)="navigateToLogin()"
        >
          Login
        </li>
        <li nz-menu-item (click)="navigatoToMain()">Home</li>
        <li nz-menu-item>About</li>
        <li nz-submenu *ngIf="userInformation$ | async" nzTitle="Profile">
          <ul>
            <li nz-menu-item (click)="navigateToSettings()">Settings</li>
            <li nz-menu-item *ngIf="userInformation$ | async">Logout</li>
          </ul>
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>
  <div class="logo hidden lg:block">
    <img class="logo-img" src="/assets/icons/blog-solid.svg" alt="app-logo" />
  </div>
  <ul
    nz-menu
    nzTheme="dark"
    nzMode="horizontal"
    class="header-menu hidden lg:block"
  >
    <li
      nz-menu-item
      *ngIf="!(userInformation$ | async)"
      (click)="navigateToLogin()"
    >
      Login
    </li>
    <li nz-menu-item (click)="navigatoToMain()">Home</li>
    <li nz-submenu *ngIf="userInformation$ | async" nzTitle="Profile">
      <ul>
        <li nz-menu-item (click)="navigateToSettings()">Settings</li>
        <li nz-menu-item *ngIf="userInformation$ | async">Logout</li>
      </ul>
    </li>
    <li nz-menu-item>About</li>
  </ul>
</nz-header>
