<div class="main-wrapper">
  <div class="item-left">
    <div class="author-data-container">
      <nz-avatar
        class="hidden lg:block"
        [nzSize]="55"
        nzShape="square"
        [nzSrc]="itemSample.author.picSrc"
      >
      </nz-avatar>
      <p class="author-name">{{ itemSample.author.name }}</p>
      <p>{{ itemSample.date }}</p>
    </div>
    <div class="content">
      <h3>{{ itemSample.title }}</h3>
      <p class="hidden lg:block">{{ itemSample.body | slice : 0 : 100 }}...</p>
    </div>
    <div class="about-container">
      <ul class="about">
        <button nz-button nzType="text">Angular</button>
        <button nz-button nzType="text">4 min read</button>
        <button nz-button nzType="text">Based on your reading history</button>
      </ul>
    </div>
  </div>
  <div class="item-right">
    <img [src]="itemSample.itemPicSrc" alt="blog-photo" />
  </div>
</div>
