<div class="main-wrapper grid--1x2">
  <div class="item-left">
    <div class="author-data-container">
      <nz-avatar
        [nzSize]="55"
        nzShape="circle"
        [nzSrc]="itemSample.author.picSrc"
      >
      </nz-avatar>
      <p class="author-name">{{ itemSample.author.name }}</p>
    </div>
    <div class="content">
      <h3 class="title">{{ itemSample.title }}</h3>
      <p class="hidden lg:block body-text">
        {{ itemSample.body | slice : 0 : 200 }}...
      </p>
    </div>
    <div class="hidden lg:block">
      <ul class="about">
        <div>
          <span>Angular</span>
          <nz-divider nzType="vertical"></nz-divider>
          <span>4 min read</span>
          <nz-divider nzType="vertical"></nz-divider>
          <span>{{ itemSample.date }}</span>
        </div>
      </ul>
    </div>
  </div>
  <div class="item-right">
    <img [src]="itemSample.itemPicSrc" alt="blog-photo" />
  </div>
</div>
<nz-divider></nz-divider>
