<nz-layout>
  <app-header></app-header>
  <nz-layout>
    <nz-sider
      class="hidden lg:block"
      nzWidth="200px"
      nzTheme="light"
      *ngIf="userInformation$ | async as userInformation"
    >
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-submenu nzOpen nzIcon="menu" nzTitle="Menu">
          <ul>
            <li nz-menu-item routerLink="auth/login">Login/Register</li>
            <li nz-menu-item routerLink="auth/profile">Settings</li>
            <li nz-menu-item>option3</li>
            <li nz-menu-item>Logout</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-sider
        class="block lg:hidden"
        nzWidth="200px"
        nzTheme="light"
        *ngIf="userInformation$ | async as userInformation"
      >
        <ul nz-menu nzMode="inline" class="sider-menu">
          <li nz-submenu nzOpen nzIcon="menu" nzTitle="Menu">
            <ul>
              <li nz-menu-item nzSelected routerLink="/auth/login">
                Login/Register
              </li>
              <li nz-menu-item routerLink="auth/profile">Settings</li>
              <li nz-menu-item>option3</li>
              <li nz-menu-item>Logout</li>
            </ul>
          </li>
        </ul>
      </nz-sider>
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
