.main-wrapper {
  height: 100vh;
  width: 100%;
  min-width: 35rem;
  display: flex;
  flex-direction: column;
  margin: 3rem 5rem;

  .header {
    margin: 4rem 0;
  }

  .login-form {
    max-width: 30rem;

    input {
      padding: 0.5rem 0;
    }
  }

  .login-form-margin {
    margin-bottom: 1.6rem;
  }

  .login-form-button {
    margin-right: 2rem;
  }
}
