// Tailwind
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
// Toastr
@import "ngx-toastr/toastr";
//variables
@import "/src/styles/variables";

:root {
  --color-primary: #272be3;
  --color-secondary: #0068a8;
  --color-accent: #c70000;
  --color-headings: #342c49;
  --color-body: #aea8ba;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Trebuchet MS";
  font-size: 2.4rem;
  color: var(--color-body);
}

h1,
h2,
h3,
h4,
label {
  font-weight: 500;
  color: var(--color-headings);
}

h1 {
  font-size: 7rem;
  line-height: 3.8rem;
}

h2 {
  font-size: 4rem;
  line-height: 3.2rem;
}

h3 {
  font-size: 3rem;
  line-height: 2.8rem;
}

h4 {
  font-size: 2rem;
  line-height: 2rem;
}

p,
a {
  font-size: 1.8rem;
  line-height: 2rem;
}

label,
.caption {
  font-size: 1.4rem;
  line-height: 2.4rem;
}

button {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 2rem 3rem;
  white-space: nowrap;
  margin: 1rem 0;
}

// Desktop
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
    line-height: 5.2rem;
  }

  h2 {
    font-size: 4em;
    line-height: 4.2rem;
  }

  h3 {
    font-size: 2.4rem;
    line-height: 3.8rem;
  }

  h4 {
    font-size: 2rem;
    line-height: 3.4rem;
  }

  p,
  a {
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin: 4rem 0;
  }

  label,
  .caption {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
}
